# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.venv/

# Packaging
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Results and figures
results/data/
results/figures/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Keep the final PDF
!report/report.pdf